[Unit]
Description=My Proxy Service
After=VLANSet.target

[Service]
ExecStart=/root/app/gost/gost -C /root/app/gost/001.yaml
WorkingDirectory=/root/app/gost/
Restart=always
User=root

[Install]
WantedBy=multi-user.target