[Unit]
Description=My VLAN Set Service
After=network.target

[Service]
ExecStart=/bin/bash /root/app/gost/VLANSet.sh
WorkingDirectory=/root/app/gost/
Type=simple
RemainAfterExit=true
Storage=persistent
JournalDir=/root/app/gost/

[Install]
WantedBy=multi-user.target